//Button

.btn{
   display: inline-block;
   background: $color-primary;
   padding: 10px 20px;
   position: relative;
   transition: all .3s;
}

.btn-service{
  background-color: $blue-jean;
  &:hover{
    background: $tan;
    color: white;
  }
}

.btn-work{
  &:hover{
    background: $rusty-red;
    color: white;
  }
}

.btn-github{

   i{
     color: white;
     font-size: 2rem;
   }
   &:hover{
     background: $tan;
   }
   
}


.btn-fancy{
  width: 50%;
  @include bp-medium{
    width: 25%;
  };
  border:3px solid $rusty-red;
  display: inline-block;
  color: white;
  padding: 10px 30px;
  text-transform: capitalize;
  transition: .3s ease;
  overflow-x: hidden;
  &:hover{
    background-color: $rusty-red;
  }
}
