footer{
  background-color: #323131;
  padding-top:10vh;
  padding-bottom:10vh;

  .column{
    text-align: center;
    color: white;
    margin: 0 auto;
    @include bp-medium{
      max-width: 40%
    };
    p{
      margin-bottom: 30px;
      text-transform: capitalize;
    }
  }
}


.bottom{
  background-color: black;
  padding-top: 6vh;
  padding-bottom: 6vh;
  p{
    margin-top: 40px;
    text-align: center;
  }
}
