// Sections
.section_works{
  padding-bottom: 10vh;
  @include bp-medium{
    padding-top: 15vh;
  };
  @include bp-large{
    // padding-top: 5vh;
    height: 70vh;
  };
}
.section_articles{
  padding-top: 6vh;
  padding-bottom: 10vh;
  background:$blue-jean;
    h1{
      color: white;
    }
}
.section_articles::after{
  right: 50%;
  transform: skew(0, 20deg);
}
.section_articles::before{
  left: 50%;
  transform: skew(0, -20deg);
}

.section_call{

  display: flex;
  flex-direction: column;

  .title-info{
    a{
      text-decoration: underline;
    }
  }

  .hide{
    opacity:0;
    transition: all .4s ease-in-out;
  }

  img{
    width: 200px;
  }

  h4:nth-of-type(2){
    // text-align: left;
  }

  .skills{
    p{
      display: inline-block;
      border: 3px solid $rusty-red;
      margin: 10px;
      padding: 10px;
      text-align: left;
    }

  }

}
