// Sections
.section_works{
  padding-bottom: 10vh;
  @include bp-medium{
    padding-top: 15vh;
  };
  @include bp-large{
    padding-top: 5vh;
    margin-bottom: 60px;
    height: 70vh;
  };
}


.section_call{

  display: flex;
  flex-direction: column;
  color: white;

  @include bp-large{
    flex-direction: row;
    align-items: center;
  };

  .img-box{
    margin: 0 auto;
  }


  .name-info{
    text-align: center;
    @include bp-large{
          width: 300px;
          text-align: left;
          h4{
            margin-top: 2px;
          }
    };
    a{
      text-decoration: underline;
    }
  }

  .hide{
    opacity:0;
    transition: all .4s ease-in-out;
  }

  img{
    width: 200px;
  }

  h4:nth-of-type(2){
    // text-align: left;
  }

  .skills{
    text-align: center;
    p{
      display: inline-block;
      border: 3px solid $rusty-red;
      margin: 10px;
      padding: 10px;
      text-align: left;
    }
    @include bp-large{
      text-align: left;
      h4{
        margin-bottom: 5px;
      }
    };

  }

}
