// Sections
.section_works{
  padding-bottom: 10vh;
  @include bp-medium{
    padding-top: 15vh;
  };
  @include bp-large{
    padding-top: 5vh;
    margin-bottom: 60px;
    height: 70vh;
  };
}


.section_call{

  display: flex;
  flex-direction: column;
  color: white;

  @include bp-large{
    flex-direction: row;
    align-items: center;
  };

  .img-box{
    margin: 0 auto;
    img{
      width: 180px;
    }
  }


  .name-info{
    text-align: center;
    @include bp-large{
          width: 380px;
          text-align: left;
          h4{
            margin-top: 2px;
          }
    };
    a{
      text-decoration: underline;
    }
  }

  .hide{
    opacity:0;
    transition: all .4s ease-in-out;
  }

  img{
    width: 200px;
    box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.75);
}



  .skills{
    text-align: center;
    p{
      display: inline-block;
      border: 3px solid $rusty-red;
      margin: 10px;
      padding: 10px;
      text-align: left;
    }
    @include bp-large{
      text-align: left;
      h4{
        margin-bottom: 5px;
      }
    };

  }

}

.form-section{
  margin-top: 90px;
  h1{
    text-align: center;
    color: white;
  }

  .icons{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    i{
      font-size: 3.45em;
      padding:  1rem 2.3rem;
      color: $tan;
    }
  }

}