// Portfolio or Work Section on Home Page


.work{
    text-align: center;
    .hide-work{
      opacity:0;
      transition: all .4s ease-in-out;
    }
  .work_img{
    img{
        object-fit: cover;
        height: 180px;
        box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.75);
        @include bp-medium{
           height: 200px;
           transition: transform .2s ease-in-out;
           &:hover{
             transform:scale(1.1);
           }
        }
      }
    }
  }

.work_description{

  h2{
    margin:10px 0;
    font-size: 3rem;
  }
  p{
    font-size: 2rem;
    margin: 5px 0 10px 0;
  }
}
